/* Code from: https://www.geeksforgeeks.org/rock-paper-and-scissor-game-using-javascript/ */
/* applies to the whole dosument */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #222831;
    color: #f2f2f2;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* end of code from geeksforgeeks */

/* title styling/position */
.title {
    color: #f96d00;
    font-size: 500%;
    position: absolute;
    top: 0;
}

/* also from geeksforfeeks */
.score {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    position: absolute;
    top: 10%;
}
/* end of code geeksforgeeks */

.p-count, .c-count {
    text-align: center;
    font-size: 150%;
    margin-top: 2%;
}