/* Code from: https://www.geeksforgeeks.org/rock-paper-and-scissor-game-using-javascript/ */
/* applies to the whole dosument */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #222831;
    color: #f2f2f2;
}

/* title styling/position this code is not form geeksforgeeks */
#title {
    color: #f96d00;
    font-size: 700%;
    top: 0;
    text-align: center;
}

#rules {
    font-size: 400%;
    text-align: center;
    width: 100%;
}

#rules,
h2,
p {
    color: #f96d00;
}

/* end of my own code */

#game {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#flexLabel {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

#flexLabel,
label {
    color: #f96d00;
}

#flex {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

#flex,
span {
    color: #f96d00;
}

#flexChoice {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    margin-top: 2%;
}

/* end of code geeksforgeeks */

#pCount,
#cCount,
#dCount {
    text-align: center;
    font-size: 150%;
    margin-top: 2%;
}

#move {
    font-size: 300%;
    color: #f96d00;
    font-weight: bold;
}

/* buttons next to eachother */
#options {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    margin-top: 2%;
}

/* styling buttons */
#sword,
#axe,
#lance {
    font-size: 150%;
    padding: 3%;
    border: 4px solid #f2f2f2;
    background-color: #393e46;
    color: #f96d00;
}

/* media queries */
/* for smaller screens 270px and up */
@media (min-width: 270px) {
    #title {
        color: #f96d00;
        font-size: 230%;
        top: 0;
        text-align: center;
    }

    #rules {
        font-size: 90%;
        text-align: center;
        width: 100%;
    }

    #rules,
    h2,
    p {
        color: #f96d00;
    }

    #move {
        font-size: 100%;
        color: #f96d00;
        font-weight: bold;
    }

    #flexLabel {
        width: 100vw;
    }

    #flex {
        width: 100vw;
    }

    #flexChoice {
        width: 100vw;
    }
}

/* for small screens 400px and up */
@media (min-width: 400px) {
    #title {
        color: #f96d00;
        font-size: 300%;
        top: 0;
        text-align: center;
    }

    #rules {
        font-size: 150%;
        text-align: center;
        width: 100%;
    }

    #rules,
    h2,
    p {
        color: #f96d00;
    }

    #move {
        font-size: 150%;
        color: #f96d00;
        font-weight: bold;
    }
}

/* for medium screens 600px and up */
@media (min-width: 600px) {
    #title {
        color: #f96d00;
        font-size: 300%;
        top: 0;
        text-align: center;
    }

    #rules {
        font-size: 150%;
        text-align: center;
        width: 100%;
    }

    #rules,
    h2,
    p {
        color: #f96d00;
    }

    #move {
        font-size: 150%;
        color: #f96d00;
        font-weight: bold;
    }

    #flexChoice {
        width: 50%;
    }
}

/* for bigger screens 1700px and up */
@media (min-width: 1700px) {
    #title {
        color: #f96d00;
        font-size: 900%;
        top: 0;
        text-align: center;
    }

    #rules {
        font-size: 350%;
        text-align: center;
        width: 100%;
    }

    #rules,
    h2,
    p {
        color: #f96d00;
    }

    #move {
        font-size: 250%;
        color: #f96d00;
        font-weight: bold;
    }

    #flexLabel,
    #flex,
    #flexChoice {
        font-size: 200%;
    }

    #flexChoice {
        width: 40%;
    }

}